/* applies to all in HTML body */
body {
    font-family: sans-serif;
    color: white;
    background: #2d3436;
}

/* ------------------------------- */
/* MULTI USE PARAMETERS START      */
/* ------------------------------- */

/* spaces label front input fields */
label {
    margin-left: -3px;
}

/* Header wrappers */
.text-wrap {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 26px;
}

/* textbox wrappers */
.text-wrap2 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}

/* main header */
.main-text h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

.button:hover, .go-button:hover {
    background: #27ae60;
}

.button-inputs {
    background: none;
    border: none;
    color: white;
    padding: 0px 0px;
    cursor: pointer;
    display: inline-block; 
}

.clear-input {
    transform: translate(10%, 22%);
}

.max-input {
    transform: translate(-15%, 25%);
}

.material-icons.md-24 { 
    font-size: 28px; 
}


/* ------------------------------- */
/* MULTI USE PARAMETERS END        */
/* ------------------------------- */

/* grid containing entire page */
#grid-container {
    display: grid;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #34495e;
    grid-template-columns: 325px 370px 325px;
    grid-template-rows: 620px;
    gap: 0px;
    grid-template-areas: 
        "recipes main list";
}

#grid > recipes {
    grid-area: recipes;
}

#grid > main {
    grid-area: main;
}

#grid > list {
    grid-area: list;
}

/* dropdown selection, NOT the dropdown itself */
.dropdown-select {
    width: 235px;
    background: none;
    margin: 5px auto;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 7px;
    outline: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 24px;
}

.dropdown-select:hover {
    cursor: pointer;
    border-color: #27ae60; 
}

/* dropdown itself, <select> accepts very few css parameters */
.dropdown-select option {
    background-color: #2d3436;
    color: white;
}

/* runs selectOption to create string for display */
.go-button {
    width: 60px;
    background: none;
    margin-left: 3px;
    text-align: center;
    border: 3px solid #27ae60;
    padding: 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer; 
}

/* main center box */
.main-text {
    width: 300px;
    height: 560px;
    background: #34495e;
}

.main-text input[type = "text"] {
    width: 60px;
    background: none;
    margin: 5px auto;
    margin-left: 3px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 3px 0px;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
}

.main-text input[type = "text"]:focus,.main-text input[type = "text"]:focus{
    border-color: #27ae60;
}

.calc-button {
    width: 125px;
    background: none;
    margin: 5px auto;
    margin-top: 2px;
    text-align: center;
    border: 3px solid #27ae60;
    padding: 7px 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 34px;
    cursor: pointer; 
}

.button-wrapper {
    text-align: center;
}

/* right material box */
.box-2 {
    width: 300px;
    height: 560px;
    background: #34495e;
}

.tool-tip {
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
}

/* Tooltip text */
.tool-tip .tool-tip-text {
    visibility: hidden;
    width: 250px;
    background-color: #2d3436;
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    transform: translate(3%,-25%);
}

.tool-tip:hover .tool-tip-text {
    visibility: visible;
}

a {
    position: absolute;
    bottom: 8px;
    right: 10px;
}
